
.main-container-wrap {
/*background: red;*/
/*min-width: 90em;*/
}
.header-wrapper{
	/*min-width: 90em;*/
	min-height: 50em;
	/*background: orange;*/
	background-image: url('../images/bb.png');
}
.header-top-wrapper{
	/*background: green;*/

}
.header-top-container{
	/*background: brown;*/
	margin:0 auto;
	/*max-width: 82.5em;*/
	max-width: 91.66666667%;
	padding-top: 51px;
}
.logo-container{
	float:left;
	/*width: 9.166666667%;*/
	width: auto;
	padding:13px 0px 12px;	
}
.logo-container img{
	display: block;
}
.navbar-container{
	float: right;
	width: auto;
}
.header-bottom-wrapper{
	/*background: yellow;*/
	/*height: 49.3125em;*/
}
.header-bottom-container{
	/*background: pink;*/
	margin:0 auto;
	max-width: 82.5em;
}


.body-wrapper{
 /*min-width: 90em;*/
}
.body-top-wrapper{
	/*background: yellow;*/
}
.body-top-container{
	background: white;
	max-width: 75em;
	margin: 0 auto;
}
.food-wrapper{
	/*background: silver;*/
}
.body-bottom-wrapper{

}
.footer-wrapper{
	 background-color: #333333;
	 line-height: 70px;
}
