.what-we-provide{
	width: 100%;
}
.what-we-provide ul li{
	display: none;
}
.what-we-provide ul li.active{
	display: block;
	padding-bottom: 0px;
	width: 100%;
}
.icon{
	width: 100%;
}
.icon img{
	margin:0 auto;
}
.title{
	padding-left: 0px;
	width: 100%;
}
.title p,.title h3{
	text-align: center;
	width: 100%;
}
.left, .right{
	float: none;
	width: 100%;
}
.vertical{
	display: none;
}
.separator{
display: none;
}
.button-container div{
	display: block;
}
/*.navbar-container{
	display: none;
}*/

.accordian.title-of-block{
	background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 0px;

}
.right .something, .left .something{
	transition: max-height 0.2s ease-out;
	display: none;
}
.accordian:hover {
    background-color: #ccc; 
}
.accordian:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.footer-left, .footer-right{
	padding:0px;
}

.navbar-container{
	display: none;
}
/*.container {
	float: right;
    display: inline-block;
    cursor: pointer;
}
/*.container:hover .responsive-menu{
	display: block;
}*/

/*.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}*/


.header {

  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
 /* position: fixed;
  width: 100%;*/
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/*.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}*/

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header{
	display: block;
}