html,body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
a{
	text-decoration: none;
}
.fa{
	color:white;
}
ul{
	list-style: none;
	padding:0px;
	margin:0px;
}
.narvbar-container{
	position: relative;
}
.navbar-container ul li{
	float: left;
	width: auto;
	padding: 21px 40px 20px 0px;

}
.navbar-container ul li a{
	color: #fff;
	font-size: 16px;
    text-decoration: none;
    /*margin-right: 5px;*/
}    
.navbar-container ul li a:hover,.fa:hover{
    color:#88c542;
	/*padding: 11px 15px 10px;*/
}
.navbar-container ul li:last-child{
	padding-right:0px;
	
}
.navbar-container ul li button{
	border:none;
	cursor: pointer;
	background: none;
}
.container{
	display: none;
}
.responsive-menu{
	display: none;
}
.challenge-title{
  /*height: 10.66666667%;*/
  margin-top: 15.07575758%;	
  font-family: Roboto;
  font-size: 82px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  /*background: purple;*/
}
.description{
	/*background: indigo;*/
	width: 47.27272727%;
	margin:0 auto;
	margin-top: 2.196969697%;
	font-family: Roboto;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.button-apply{
  margin: 0 auto;
  margin-top: 2.196969697%;
  width: 192px;
  line-height: 67px;
  border-radius: 4px;
  background-color: #27ad6c;
  position: relative;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
  text-align: center;
}
.button-apply a{
	display: block;
}
.button-apply span{
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
}
.button-apply img{
	position: absolute;
	top: 25px;
	right: 25px;
}

.title-of-block{
  margin-top:10.98484848%; 
  font-family: Roboto;
  font-size: 48px;
  line-height: 1;
  color: #9b9b9b;
  text-align: center;
}

.blocks{
	list-style: none;
	padding:0% 5.833333333%;
	margin-top:7%;
}

.blocks li{
	float: left;
	width: 28.30188679%;
	display: inline-block;
	/*width: 300px;*/
	margin-right: 7.547169811%;
}
.blocks li:last-child{
	margin-right: 0px;
}
.block-image img{
	display: block;
	width: 100%;
}
.block-title{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #27ad6c;
  margin-top: 40px;
}
.block-description{
  margin-top: 8px;
  opacity: 0.78;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #4a4a4a;
}
.lists{
	width: 100%;
	background-position: center;
	background-repeat: repeat-y;
	position: relative;

}
.left{
	float: left;
	width: 40%;
}
.left .title-of-block, .right .title-of-block{
	margin-top: 0px;
	text-align: left;
	line-height: 57px;
} 
.right{
	float: right;
	width: 40%;
}
.vertical{
	position: absolute;
	background: #88c542;
	top:0px;
	left:50%;
	width: 1px;
	height: 100%;
	text-indent: -10000px;
}
.lists{
	margin-top: 146px;
}
.something li{
	background: url('../images/globe.png') no-repeat left 48%;
	padding-left: 30px;
	line-height: 24px;
	padding-bottom: 26px;
	padding-top: 26px;
	border-bottom: 1px solid #88c542;
	font-size: 16px;
 color: #27ad6c
}
.right .something li{
	background: none;
	padding-left: 0px;
	padding-bottom:20px;
}
.something span{
	display: block;
	line-height: 15px;
	opacity: 0.5;
	font-size: 13px;
	color: #9b9b9b;
}

.other{
	padding-top: 20px;
}
.other a{
	line-height: 21px;
 	font-size: 16px;
	color: #27ad6c;
}
.column{
	width: 100%;
	height: 100%;
}
.separator{
	margin: 0 auto;
	width: auto;
	text-align: center; 
	margin-top: 10.58333333%;
}
.separator img{
	display: inline-block;
	padding: 0px 12px;
}
.horizon{
	display: inline-block;
	background: #88c542;
	/*float: left;*/
	width: 123px;
	height: 1px;
	text-indent: -10000px;
	margin: 0px 12px;
}

.food-wrapper .title-of-block{
	margin-top: 107px;
}
.just-because{
	padding-top: 18px;
	padding-bottom: 31px;
  margin:0 auto;			
  line-height: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #9b9b9b;
}

.food-pictures ul li{
	float: left;
	width: 33.33333333%;
}
.food-pictures ul li img{
	display: block;
	width: 100%;
}
.body-bottom-wrapper{
	background:#423633;
}
.body-bottom-wrapper .title-of-block{
	margin-top: 10.06944444%;
	margin-bottom: 5.277777778%;
	color: #ffffff;
}
.what-we-provide{
	width: 90%;
	margin: 0 auto;
}
.what-we-provide ul li{
	float: left;
	width: 33.33333333%;
	padding-bottom: 80px;
}
.provide-list{
	width: 100%;
}
.icon, .title{
	float: left;
	width: auto;
	
}
.icon{
	width: 60px;
	height: 60px;
}
.icon img{
	display: block;

}
.title{
	width: 81.48148148%;
	padding-left: 10px;
}
.title h3{
	width: 100%;
	font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.title p{
	width: 77.92207792%;
	  opacity: 0.5;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}
.food.separator{
	opacity: 0.3;
	margin-top: 51px;
	margin-bottom: 70px;
}
.footer-left{
	float: left;
	width: auto;
	padding-left: 60px;
	font-size: 14px;
color: #ffffff;
}
.footer-right{
	float: right;
	width: auto;
	padding-right: 60px;
	font-size: 14px;
	color: #ffffff;
}
.footer-right ul li{
	float: left;
	padding-left: 10px;
	
}
.footer-right a{
	color: #fff;
}
.button-container div{
	width: 40px;
	line-height: 40px;
	border-radius:5px; 
	display: none;
	
}

.button-container .fa{
	font-size: inherit;
	color: white;
	text-align: center;
}
.left-button{
	margin-right: 16px;
	float: left;
	background:#8b9898;
	text-align: center;
}
.right-button{
	float: right;
	background:#8b9898;
	text-align: center;
}
.left-button:hover, .right-button:hover{
	background:#e2534b;
}










.header{
	display: none;
}







